body {
    background-color: antiquewhite;
    max-width: 960px;
    margin: auto;
}

header {
    margin-top: 200px
    margin- 200px
}

h1, h2 {text-align: center;}

h3 ~ p {
    color: blue;
}
    
   
    

    

